* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.section {
  background-color: #1A1A1A;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #026FFF;
  color: #E8E8E8;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 2px 3px #000;
  text-align: center;
}

.btn-wrapper {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.control-wrapper {
  width: 100%;
  position: absolute;
}

.control-wrapper button {
  position: absolute;
}

.btn-prev {
  left: 100px;
  display: none
}

.btn-next {
  right: 100px
}

.card {
  background-color: #2E2E2E;
  box-shadow: 0px 3px 3px #000;
  align-self: center;
  display: flex;
  justify-content: center;
}

.code-wrapper {
  align-self: center;
}

.card-code {
  width: 70%;
  height: 70%;
  font-family: monospace;
  color: #E8E8E8;
  font-size: 24px;
  font-family: 'Ubuntu Mono', monospace;
}

.card-code p {
  margin: 8px 0;
}

.card-xp {
  width: 70%;
  height: 80%;
  display: none;
  font-family: 'Montserrat', sans-serif;
  color: #E8E8E8
}

.card-xp.active {
  display: flex;
  flex-direction: column;
}

.card-xp .header {
  height: 16%
}
.card-xp .body {
  height: 80%
}

.card-xp .body .card-section {
  height: 50%
}

.xp-wrap {
  height: 95%;
  width: 90%;
  align-self: center;
  border: 1px solid;
  display: flex;
  flex-direction: column
}

.card-xp div{
  border: 1px solid
}

.primary {
  color: #F46C00;
  font-weight: bold
}

.section-1 {
/*   display: none */
}

.warning {
  color: #F46C00;
  border: 1px solid #F46C00;
  position: absolute;
  width: 250px;
  height: 40px;
  align-self: center;
  bottom: 75px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold
}

@media screen and (max-width: 600px) {
  .card.card-code {
    width: 70%;
    height: 58%;
    font-size: 37px
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .card.card-code {
    width: 55%;
    height: 57%;
    font-size: 38px
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .card.card-code {
    width: 40%;
    height: 55%;
    font-size: 40px
  }
}

@media screen and (min-width: 1201px) {
  .card.card-code {
    width: 35%;
    height: 55%;
    font-size: 40px
  }
}