* {
  box-sizing: border-box;
  color: white;
}

body, p {
  padding: 0;
  margin: 0;
}

.btn {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

.btn i {
    font-size: 20px
}

.links {
    margin-bottom: 50px
}

.btn.btn-linkedin {
    color: white;
    background-color: #5BC0EB;
}

.btn.btn-github {
    color: white;
    background-color: #352D39;
}


.var { color: #FF6978 }
.declaration { color: #FFA630 }
.string { color: #48E5C2 }
.comment { color: #BAC1B8 }

.editor {
  background-color: #352D39;
  display: flex;
  font-family: monospace
}

.xp {
    margin-bottom: 10px; 
}

.star-level{
  font-size: 5px
}

.skills {
  display: flex;
  justify-content: space-around;
  margin: 0 0 120px 0
}

.skills.skills-xp {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 10px 0;
}

.skill {
  width: 100px;
}

.skill:hover {
    cursor: pointer;
}

.skill.skill-xp {
  width: 80px
}

.skill.skill-xp i{
  font-size: 20px
}

.skill.skill-xp h2{
  font-size: 12px
}


.skill i {
  font-size: 25px
}

.skill h2 {
  font-size: 13px
}

.sidebar {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.sidebar h1, .sidebar h2, .sidebar h3 { font-weight: 100 }

.profile {
  border-radius: 500px;
  align-self: center;
  border: 3px solid white;
}

.editor, .sidebar {
  height: 100vh;
}

.container {
  display: flex;
}

.line-numbers{
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 20px;
  padding-right: 5px
}

.line-numbers p { color: #555 }

.code {
  padding-left: 10px
}

.tab { margin-left: 20px }

p {padding: 3px}

@media only screen and (max-width: 600px) {
  .container {    flex-direction: column  }
  .editor { 
    padding: 60px 10px;
    font-size: 15px
  }
  .profile {    width: 150px  }
  .sidebar { padding: 100px 40px; overflow-y: auto }
}

@media only screen and (min-width: 601px) and (max-width: 900px){
  .container {    flex-direction: column  }
  .editor { 
    padding: 70px 20px;
    font-size: 18px
  }
  .profile {    width: 180px  }
  .sidebar { padding: 120px 80px; overflow-y: auto }
}

@media only screen and (min-width: 901px){
  .container {    flex-direction: row  }
  .editor { 
    width: 65%;
    padding: 80px 60px;
    font-size: 20px
  }
  .sidebar {  width: 35%; overflow-y: auto  }
  .profile {    width: 150px; margin: 0 0 40px 0  }
  .sidebar { padding: 80px 40px }
  .sidebar-title { display: none }
}